name: Deploy and Run with Guarden

on:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Install Guarden CLI
        run: deno install -Arf https://raw.githubusercontent.com/artpani4/guarden/refs/heads/main/source/client/cli.ts


      - name: Deploy and Run Project
        run: guarden run deno task dev
        env:
          GUARDEN_TOKEN: ${{ secrets.GUARDEN_TOKEN }}
          GUARDEN_CURRENT_ENV: prod
          GUARDEN_CURRENT_PROJECT: tutor_manager_ad
