name: Deploy with Guarden and Deno Deploy

on:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Install Guarden CLI
        run: deno install --allow-all -n guarden https://raw.githubusercontent.com/artpani4/guarden/refs/heads/main/source/client/cli.ts

      - name: Fetch and Set Secrets
        run: guarden fetch-set
        env:
          GUARDEN_TOKEN: ${{ secrets.GUARDEN_TOKEN }}
          GUARDEN_CURRENT_ENV: prod
          GUARDEN_CURRENT_PROJECT: tutor_manager_ad

      - name: Install deployctl (Deno Deploy CLI)
        run: deno install -Af -n deployctl https://deno.land/x/deploy/deployctl.ts

      - name: Deploy to Deno Deploy
        run: deployctl deploy --project=my-deno-project --prod
        env:
          DENO_DEPLOY_TOKEN: ${{ secrets.DENO_DEPLOY_TOKEN }}
